<aside>
  <div id="logo">
    <div class="content">
      <img src="assets/images/happytailz_dogwalking_petcare_desktop_logo.gif" alt="Happytailz dog walking and pet care logo">
      <img src="assets/images/happytailz_dogwalking_petcare_mobile_logo.gif" alt="Happytailz dog walking and pet care mobile logo">
      <div id="site-name">
        Happy Tailz
      </div>
    </div>
  </div>

    <div class="content">
      <div>
        <ul>
          <li>Dog Walking</li>
          <li class="mini">&amp;</li>
          <li>Pet Care</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Wells<span class="mobile-comma">,</span></li>
          <li>Somerset</li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="tel:01749987490">01749 987 490</a></li>
          <li><a href="tel:07707921844">07707 921 84</a></li>
          <li><a href="mailto:chan@happytailz.online">chan@happytailz.online</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Fully Insured</li>
          <li>DBS Checked</li>
          <li>Online payments <br>available</li>
        </ul>
      </div>
    </div>

</aside>
