<div id="banner">

  <img srcset="
  assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_500.jpg 500w,
  assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_770.jpg 770w,
  assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_1150.jpg 1150w,
  assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_1500.jpg 1500w,
  assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_2000.jpg 2000w,
  assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_2500.jpg 2500w,
  assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_3000.jpg 3000w"
  src="assets/images/happytailz_banner_optimized/picture_of_tor_woods_wells_somerset_80_3000.jpg"
  alt="A picture of a kissing gate on a footpath situated in Tor Woods, Wells, Somerset">

  <div id="location">
    Tor Woods, Wells
  </div>
</div>
