<nav>
  <input type="checkbox" id="button">
  <label for="button" onclick>&#8801;</label>
  <div id="mobile-home">
    <a href="/"><img src="assets/images/kennel.gif" alt="A kennel image link to the home page."></a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dog_walking.html">Dog Walking</a></li>
    <li><a href="/pet-pop-ins-holidays">Pet Pop-ins & Holidays</a></li>
    <li><a>More</a>
      <ul>
        <li><a href="/payment.html">Payment</a></li>
        <li><a href="/insurance.html">Insurance</a></li>
        <li><a href="/dbs.html">DBS</a></li>
      </ul>
    </li>
  </ul>
</nav>
